/* ---------------------------------------------------
    GLOBAL COLORS
----------------------------------------------------- */
:root {
  --dark-blue: #14248a;
  --light-blue: #1e91d6;
  --dark-white: #f3f3f3;
  --gray: #2a2b2e;
  --light-gray: #7c868f;
}

/* ---------------------------------------------------
    GLOBAL CSS
----------------------------------------------------- */
* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  margin: auto;
}
main {
  background-color: var(--dark-white);
}
.container {
  padding: 0.01em 10%;
}

/* ---------------------------------------------------
    HEADER
----------------------------------------------------- */
/* Header background */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/forest.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
header::after {
  content: "";
  display: table;
  clear: both;
}
header img {
  width: 300px;
  border-radius: 50%;
}
header h1 {
  font-size: 4em;
  color: white;
  margin: 0 20px;
}

/* Responsive columns */
@media screen and (max-width: 1000px) {
  header {
    display: grid;
  }
  header div {
    display: block;
    margin: auto;
  }
  header img {
    margin-top: 100px;
  }
  .header-text {
    margin-top: 50px;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  header img {
    margin-top: 100px;
    width: 225px;
  }
  .header-text {
    margin-top: 0px;
    text-align: center;
  }
}

/* ---------------------------------------------------
    CENTER CONTENT STYLE
----------------------------------------------------- */
section {
  border-bottom: var(--gray) solid 2px;
}
.h1-margin {
  margin: 20px 0;
}
section h1 {
  display: inline;
  border-bottom: var(--gray) solid 2px;
  color: var(--gray);
}
section h6 {
  margin: 0;
  color: var(--gray);
  font-size: 18px;
}
.blue {
  color: var(--light-blue);
}
section p {
  color: var(--gray);
  margin: auto;
  font-size: 18px;
}
.space {
  padding: 10px;
}
ul {
  list-style-type: square;
}
li {
  color: var(--gray);
  font-size: 18px;
}
.no-border-bottom {
  border-bottom: none;
}
/* ---------------------------------------------------
    CONTACT AND FOOTER
----------------------------------------------------- */
footer {
  padding-top: 100px;
  /* background-image: linear-gradient(rgba(255, 255, 255, 0), #14248a); */
  background-color: var(--light-gray);
  padding: 50px 0;
  color: white;
  font-size: 20px;
  text-align: center;
}
.contact {
  margin: 80px 0;
  border-bottom: none;
}
.card-column {
  float: left;
  width: 25%;
  padding: 0 10px;
}
.card-row {
  margin: 0 -5px;
}
footer p {
  color: var(--gray);
  margin: auto;
}
.card-row::after {
  content: "";
  display: table;
  clear: both;
}
.card-content {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: white;
  white-space: nowrap;
}
footer hr {
  width: 25%;
  margin: 20px auto !important;
}
@media screen and (max-width: 1400px) {
  .card-column {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 700px) {
  .card-column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* ---------------------------------------------------
    NAVIGATION
----------------------------------------------------- */
nav {
  position: fixed;
  width: 100%;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
nav button {
  float: left;
  font-size: 23px;
  text-decoration: none;
  color: #2a2b2e;
  background-color: transparent;
  border: none;
}
.nav-items {
  float: right;
}
nav li {
  display: inline-block;
  padding-right: 30px;
  font-size: 23px;
}
.nav-menu-open {
  display: none;
}
.close-button {
  display: none;
}
@media screen and (max-width: 1000px) {
  .nav-menu-open {
    display: block;
    padding: 5px 0 0 5px;
  }
  .nav-items {
    z-index: 1;
    position: fixed;
    min-width: 250px;
    max-width: 250px;
    height: 100%;
    background: lightgray;
    margin-left: -250px;
    transition: all 0.5s;
  }
  .nav-items.is-open {
    margin-left: 0;
    transition: 0.5s;
  }
  nav li {
    display: block;
    padding-bottom: 20px;
  }
  .close-button {
    display: block;
    text-align: right !important;
    width: 95% !important;
    padding-top: 5%;
  }
}
@media only screen and (max-width: 500px) {
  .nav-items.is-open {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    margin-left: 0;
    transition: all 0.5s, height 0s;
  }
}
